# Entornos virtuales
venv/

# Archivos de modelo de Machine Learning (¡MUY IMPORTANTE!)
*.safetensors
*.bin

# Otros archivos de Django y Python
__pycache__/
*.pyc
env/
venv/
.env
db.sqlite3
*.safetensors  <-- MUY IMPORTANTE (Bloquea el archivo pesado)
*.bin